<div class="container-fluid p-0 position-relative">
    <img [src]="image" alt="" class="image">
    <div class="overlay-content">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div>
                        <h1 class="card-title">Coming Soon</h1>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
                            facere neque, magni quasi nostrum fugit deleniti nulla tenetur ratione, nam veniam! Expedita
                            quod laboriosam eum hic sequi! Provident, ipsa hic.</p>
                        <button class="button">Notify</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>